/* Variables and declarations used */
:root {
	--light-blue: #4DA8DA;
	--dark-blue: #12232E;
	--white: #EEFBFB;
}

/* Customize the tippy tooltip */
.tippy-box[data-theme~="light"] {
	background-color: white;
	color: black;
}
.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  	border-top-color: white;
}
.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  	border-bottom-color: white;
}
.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
  	border-left-color: white;
}
.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
  	border-right-color: white;
}

/* The only links in the page is that present on the tooltip */
a:link, a:visited {
	text-decoration: none;
	color: var(--light-blue);
}
a:hover, a:active {
	text-decoration: underline;
	text-decoration-style: dashed;
}

/* The container makes it possible for the chart to be within the viewport width */
#container {
	width: 100vw;
	overflow: auto;
}

#bar-chart {
	width: 1000px;
	height: 80vh;
	display: block;
	margin: auto;
}

div#tooltip {
	position: absolute;			/* So the tooltip can be positioned anywhere in the page*/
    text-align: center;
    padding: .5rem;
    background: hsla(210, 3%, 75%, 0.5);
    color: var(--dark-blue);
    pointer-events: none;
    font-size: 1em;
}


body {
	background-color: var(--dark-blue);
	color: var(--white);		/* All text (including svg texts) should be whiteish */
	fill: var(--white);
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

text {
	fill: var(--white);			/* Turns out svg's text did not inherit the fill property */
}

/* Header */
header {
	text-align: center;
}
header h1 {
	font-weight: 500;
	line-height: 1;
	margin-top: 0.5em;
	margin-bottom: 0;
}
header p {
	line-height: 0;
	color: hsla(180, 62%, 96%, 0.5);
}

/* The Bar Chart */
rect {
	fill: #007CC7;
}
rect:hover {
	fill: var(--light-blue);
}
g text {
	font-size: larger;		/* The ticks */
}
.label {
	font-size: 1.7em;
	fill: var(--light-blue);
}

/* About block */
#about {
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	text-align: right;
}
#about #instruction {
	line-height: 0;
}
#about #about-me {
	line-height: 0.1;
}