:root {
	--dope: #137B80;
	--no-dope: #E6842A;
	--dope-trans: rgba(19, 123, 128, 0.8);
	--no-dope-trans: rgba(230, 132, 42, 0.8);
}

/* The container makes it possible for the chart to be within the viewport width */
#container {
	width: 100vw;
	overflow: auto;
}

#scatterplot {
	width: 1000px;
	height: 80vh;
	display: block;
	margin: auto;
}

div#tooltip {
	position: absolute;			/* So the tooltip can be positioned anywhere in the page*/
    text-align: center;
    padding: .5rem;
    background: hsla(210, 3%, 75%, 0.5);
    pointer-events: none;
    font-size: 1em;
}
text {
	fill: black;
}
circle {
	/* stroke: #635F5D; */
	stroke: white;
	stroke-width: 1;
}
circle.dope {
	fill: var(--dope-trans);
}
circle.no-dope {
	fill: var(--no-dope-trans);
}
polyline.dope {
	stroke: var(--dope-trans);
}
polyline.no-dope {
	stroke: var(--no-dope-trans)	
}