* {
	box-sizing: border-box;
}
:root {
	--dope: #137B80;
	--no-dope: #E6842A;
	--dope-trans: rgba(19, 123, 128, 0.8);
	--no-dope-trans: rgba(230, 132, 42, 0.8);
	
	--lightest-gray: #F5F3F2;
	--light-gray: #EFECEA;
	--dark-gray: #E5E2E0;
	--footer-border: #CDCDC9;
}
body {
	margin: 0;
}
/* The container makes it possible for the chart to be within the viewport width */
#container {
	width: 100vw;
	overflow: auto;
}

#scatterplot {
	width: 1000px;
	height: 80vh;
	display: block;
	margin: auto;
}

div#tooltip {
	position: absolute;			/* So the tooltip can be positioned anywhere in the page*/
    padding: .5rem;
    background: hsla(210, 3%, 75%, 0.5);
    border-radius: 0.5em;
    font-size: 1em;
    transition: opacity 0.1s 0s;
    transition: box-shadow 0.5s 0s;
}
div#line-tooltip {
	position: absolute;			/* So the tooltip can be positioned anywhere in the page*/
    text-align: center;
    padding: .5rem;
    background-color: white;
    pointer-events: none;
    font-size: 1em;
    border-radius: 0.5em;
}
text {
	fill: black;
}
circle {
	/* stroke: #635F5D; */
	stroke: white;
	stroke-width: 1;
}
circle.dope {
	fill: var(--dope-trans);
}
circle.no-dope {
	fill: var(--no-dope-trans);
}
polyline.dope {
	stroke: var(--dope-trans);
	stroke-width: 2;
}
polyline.no-dope {
	stroke: var(--no-dope-trans);
	stroke-width: 2;	
}

body {
	background-color: var(--light-gray);
}
/* Header */
header {
	background-color: var(--lightest-gray);
	border: 1px solid white;
	display: flex;
	justify-content: space-between;
}
header .text-wrapper {
	margin-left: 2em;
}
header .text-wrapper h1 {
	margin-bottom: 0;
}
header .text-wrapper p {
	margin-top: 0;
}
header i {
	font-size: 4em;
	margin-right: 1em;
	align-self: center;

	/* Gradient text */
	background: linear-gradient(var(--dope) , var(--no-dope));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header h1 {
	font-family: "Franklin Gothic Book", sans-serif;
	font-weight: normal;
	color: #635F5D;
}
header h1 span {
	font-family: "Franklin Gothic Demi", sans-serif;
	font-weight: bold;
}
header p {
	font-size: larger;
	font-style: italic;
	color: #8E8883;
	font-family: "Georgia", serif;
}
/* Axis and tick lines */
.domain, .tick line {
	stroke: gray;
} 

/* Tick text */
.tick text {
	font-size: 1.4em;
	font-weight: bold;
}

/* Label of the scatter plot */
text.label {
	font-size: larger;
}

/* Legend of the scatter plot */
.legend .legend-rect {
	fill: #E5E2E0;
	stroke: #C0C0BB;
	stroke-width: 2;
}
.legend.line-on .legend-rect {
	stroke: var(--dope);
}
.legend text {
	user-select: none;
}

/* Style the dot tooltip */
#tooltip a:link, #tooltip a:visited  {
	color: navy;
	text-decoration: none;
}
#tooltip a:hover, #tooltip a:active  {
	color: navy;
	text-decoration: underline;
}

#tooltip .more-info::after {
	/* Base styling */
	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
	display: inline-block; 
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;

	/* Right font-family/font-face */
	font-family: "Font Awesome 5 Free";

	/* Right weight */
	font-weight: 900;

	/* Right unicode value */
	content: "\f35d";

	/* Small space between the text and content */
	padding-left: 5px;
}

/* The footer of the document */
footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--dark-gray);
	border: 2px dashed var(--footer-border);
	position: fixed;
	bottom: 0;
	width: 100%;	
	padding: 0;
}
#about-me, #hint {
	display: inline-block;
	line-height: 0;
}
#about-me {
	margin-left: 2em;
	font-size: larger;
}
#hint {
	margin-right: 2em;
}
#about-me a:link, #about-me a:visited {
	text-decoration: none;
	color: var(--dope);
	font-style: italic;
	transition-property: letter-spacing, color;
	transition-duration: 0.5s, 1s;
	transition-delay: 0s, 0s;
}
#about-me a:hover {
	letter-spacing: 1px;
	color: var(--no-dope);
}
#about-me a:active {
	letter-spacing: initial;
	color: var(--no-dope);
}