/* The container makes it possible for the chart to be within the viewport width */
#container {
	width: 100vw;
	overflow: auto;
}

#scatterplot {
	width: 1000px;
	height: 80vh;
	display: block;
	margin: auto;
}

div#tooltip {
	position: absolute;			/* So the tooltip can be positioned anywhere in the page*/
    text-align: center;
    padding: .5rem;
    background: hsla(210, 3%, 75%, 0.5);
    color: var(--dark-blue);
    pointer-events: none;
    font-size: 1em;
}